<p>menu works!</p>

<nav class="navbar navbar-expand-lg"
    [ngClass]="'navbar-'+color+' bg-'+color"
>
    <div class="container">
        <a class="navbar-brand" href="#">{{ title }} {{ isCollapsed | json }}</a>
        <button class="navbar-toggler" type="button" (click)="toggleCollapse()">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" [class.show]="isCollapsed">
            <div class="navbar-nav">
                <a class="nav-item nav-link active" href="#">Home</a>
                <a class="nav-item nav-link" href="#">Features</a>
                <a class="nav-item nav-link" href="#">Pricing</a>
            </div>
            <div class="navbar-nav ml-auto">
                <a class="nav-item nav-link" href="#" (click)="switchTheme()">Switch theme</a>
                <!-- (click)="color = ('light' === color) ? 'dark' : 'light'" -->

            </div>
        </div>
    </div>
</nav>