<p>home works!</p>

<h1> Accueil </h1>



<!-- <input [value]="selectedPizza.name" (keyup)="selectedPizza.name" = $event.target.value"> -->

<!-- ICI LES CROCHETS AUTOUR DE PIZZA SONT LA POUR ACTIVER LE JS -->
<app-pizza [pizza]="selectedPizza"></app-pizza>

<h2>Les Pizzas</h2>

<!-- <ul>
  <li *ngFor="let pizza of pizzas"
  (click)="onSelect(pizza)"
  [class.selected]="pizza === selectedPizza">
    {{ pizza.name }}
  </li>
</ul> -->

<input type="range" value="2" step="1" min="1" [max]="pizzas.length" [(ngModel)]="number" *ngIf="pizzas.length > 0">

<div class="row">
    <div *ngFor="let pizza of pizzas | slice:0:number.value" (click)="onSelect(pizza)" class="col-3 mb-4">
        <div class="card" [class.selected]="pizza === selectedPizza">
            <div class="card-body">
                <h5 class="card-title">{{ pizza.name }}</h5>
                <p>HT: {{pizza.price}}€</p>
                <p>TTC: {{pizza.price | tva}}</p>
                <a class="btn btn-primary" routerLink="/pizza/{{pizza.id}}">Voir la pizza</a>
                <span *ngFor="let selectedIngredient of selectedIngredients; index as i"
                    class="badge badge-{{selectedIngredient.color}}">{{ selectedIngredient.name }} <span (click)="deleteIngredient(i, $event)">X</span>
                </span>
                <!-- <p *ngIf="selectedIngredient">Vous avez choisis : {{ selectedIngredient.name }}</p> -->
            </div>
        </div>
    </div>
</div>



<h2>Les TPs:</h2>

<app-author [author]="authorTable"></app-author>

<app-ingredient-list [ingredients]="ingredients" (select)="selectIngredient($event)"></app-ingredient-list>

<h2>Les pipes</h2>

<p>{{ 'Hello' | test:'==':'==' }}</p>